#board {
    display: flex;
    align-items: start;
    padding: 20px;
    background-color: #2f3542;
    overflow-x: auto;
}

.list {
    background-color: #353b48;
    color: #ffffff;
    margin-right: 10px;
    width: 260px;
    padding: 10px;
    border-radius: 5px;
}

.list-header {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cards {
    margin-bottom: 10px;
}

.card {
    background-color: #57606f;
    color: #ffffff;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 3px;
    cursor: grab;
}

.add-card-input {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: none;
    margin-top: 10px;
    color: #2f3542;
    background-color: #ced6e0;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card-title {
}

.delete-card-btn {
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
}
